@import '../../vars.scss';

.promo {
    height: 100vh;
    // background-color: $bg-c;


    &__inner {
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 10;
    }




    &__title {
        z-index: 2;
        color: $blue-c;
        font-size: 50px;
    }
}